doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Kops

    link(rel="stylesheet", href="css/plugins.css")
    link(rel="stylesheet", href="css/main.css")

  body
    p Kops first index

    script(data-main="js/app/config", src="js/vendor/require.js")
